<nav class="navbar bg-light">
    
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'hospital_app:listEspecialidad' %}">Especialidades</a>
        <a class="navbar-brand" href="{% url 'hospital_app:listMedicos' %}">Medicos</a>
        <a class="navbar-brand">Pacientes</a>
        <a class="navbar-brand">Horarios</a>
        <a class="navbar-brand">Citas</a>
        
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Registrar Nuevo</button>
        </form>
    </div>
</nav>