<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailsMed</title>
</head>
<body>
    <h1>Detalles Medico</h1>
    <p>{{ medicos.Nombres }}</p>
    <p>{{ medicos.Apellidos }}</p>
    <p>{{ medicos.Dni }}</p>
    <p>{{ medicos.EspecialidadId }}</p>
    <p>{{ medicos.Direccion }}</p>
    <p>{{ medicos.correo }}</p>
    <p>{{ medicos.telefono }}</p>
    <p>{{ medicos.sexo }}</p>
    <p>{{ medicos.NumColegiatura }}</p>
    <p>{{ medicos.FechaNacimiento }}</p>
    <p>{{ medicos.FechaRegistro }}</p>
    <p>{{ medicos.FechaModificacion }}</p>
    <p>{{ medicos.UsuarioRegistro }}</p>
    <p>{{ medicos.Activo }}</p>
</body>
</html>