<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detalles especialidades</h1>
    <p>{{ especialidades.Nombre }}</p>
    <p>{{ especialidades.Descripcion }}</p>
    <p>{{ especialidades.FechaRegistro }}</p>
    <p>{{ especialidades.FechaModificacion }}</p>
    <p>{{ especialidades.UsuarioRegistro }}</p>
    <p>{{ especialidades.UsuarioModificacion }}</p>
    <p>{{ especialidades.Activo }}</p>

</body>
</html>